<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [1]:
!pip install sqlalchemy==1.3.9

Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.0/6.0 MB 47.9 MB/s eta 0:00:00:00:0100:01
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py) ... done
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.9-cp37-cp37m-linux_x86_64.whl size=1159121 sha256=023c7ca2737d88b95968f2b38c99088a88dcd420b6d8b63dcd350d8b4bdcedb8
  Stored in directory: /home/jupyterlab/.cache/pip/wheels/03/71/13/010faf12246f72dc76b4150e6e599d13a85b4435e06fb9e51f
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.24
    Uninstalling SQLAlchemy-1.3.24:
      Successfully uninstalled SQLAlchemy-1.3.24
Successfully installed sqlalchemy-1.3.9

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [1]:
%load_ext sql

In [2]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [3]:
!pip install -q pandas==1.1.5

In [4]:
%sql sqlite:///my_data1.db

'Connected: @my_data1.db'

In [5]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/pandas/core/generic.py:2882: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  both result in 0.1234 being formatted as 0.12.

**Note:This below code is added to remove blank rows from table**

In [6]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
(sqlite3.OperationalError) table SPACEXTABLE already exists
[SQL: create table SPACEXTABLE as select * from SPACEXTBL where Date is not null]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [15]:
import sqlite3

# Connect to the 'my_data1.db' SQLite database
connection = sqlite3.connect('my_data1.db')

# Create a cursor object
cursor = connection.cursor()

# Execute the SQL query to get unique launch sites
cursor.execute("SELECT DISTINCT Launch_Site FROM SPACEXTABLE")

# Fetch and print the results
unique_launch_sites = cursor.fetchall()
for site in unique_launch_sites:
    print(site[0])

# Close the database connection
connection.close()

CCAFS LC-40
VAFB SLC-4E
KSC LC-39A
CCAFS SLC-40


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [16]:
import sqlite3

# Connect to the 'my_data1.db' SQLite database
connection = sqlite3.connect('my_data1.db')

# Create a cursor object
cursor = connection.cursor()

# Execute the SQL query to retrieve 5 records with launch sites starting with 'CCA'
cursor.execute("SELECT * FROM SPACEXTABLE WHERE Launch_Site LIKE 'CCA%' LIMIT 5")

# Fetch and print the results
records = cursor.fetchall()
for record in records:
    print(record)

# Close the database connection
connection.close()

('2010-04-06', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)')
('2010-08-12', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)')
('2012-05-22', '07:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt')
('2012-08-10', '00:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')
('2013-01-03', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [18]:
import sqlite3

# Connect to the 'my_data1.db' SQLite database
connection = sqlite3.connect('my_data1.db')

# Create a cursor object
cursor = connection.cursor()

# Execute the SQL query to calculate the total payload mass carried by NASA (CRS) boosters
cursor.execute("SELECT SUM(PAYLOAD_MASS__KG_) FROM SPACEXTABLE WHERE Customer = 'NASA (CRS)'")

# Fetch and print the result
total_payload_mass = cursor.fetchone()[0]
print("Total Payload Mass Carried by NASA (CRS) Boosters:", total_payload_mass, "kg")

# Close the database connection
connection.close()

Total Payload Mass Carried by NASA (CRS) Boosters: 45596 kg

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [20]:
import sqlite3

# Connect to the 'my_data1.db' SQLite database
connection = sqlite3.connect('my_data1.db')

# Create a cursor object
cursor = connection.cursor()

# Execute the SQL query to calculate the average payload mass carried by booster version 'F9 v1.1'
cursor.execute("SELECT AVG(PAYLOAD_MASS__KG_) FROM SPACEXTABLE WHERE [Booster_Version] = 'F9 v1.1'")

# Fetch and print the result
average_payload_mass = cursor.fetchone()[0]
print("Average Payload Mass Carried by Booster Version 'F9 v1.1':", average_payload_mass, "kg")

# Close the database connection
connection.close()

Average Payload Mass Carried by Booster Version 'F9 v1.1': 2928.4 kg

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [36]:
import sqlite3

# Connect to the 'my_data1.db' SQLite database
connection = sqlite3.connect('my_data1.db')

# Create a cursor object
cursor = connection.cursor()

# Execute the SQL query to find the date of the first successful landing outcome on a ground pad
cursor.execute("SELECT MIN(Date) FROM SPACEXTABLE WHERE [Landing_Outcome] = 'Success (ground pad)' AND [Mission_Outcome] = 'Success'")

# Fetch and print the result
first_successful_landing_date = cursor.fetchone()[0]
print("Date of First Successful Landing on Ground Pad:", first_successful_landing_date)

# Close the database connection
connection.close()

Date of First Successful Landing on Ground Pad: 2015-12-22

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [29]:
import sqlite3

# Connect to the 'my_data1.db' SQLite database
connection = sqlite3.connect('my_data1.db')

# Create a cursor object
cursor = connection.cursor()

# Execute the SQL query to find the names of boosters with the specified conditions
cursor.execute("SELECT DISTINCT Booster_Version FROM SPACEXTABLE WHERE [Landing_Outcome] LIKE '%drone ship%' AND PAYLOAD_MASS__KG_ > 4000 AND PAYLOAD_MASS__KG_ < 6000 AND Mission_Outcome LIKE 'Success%'")

# Fetch and print the results
booster_names = cursor.fetchall()
for name in booster_names:
    print(name[0])

# Close the database connection
connection.close()

F9 FT B1020
F9 FT B1022
F9 FT B1026
F9 FT  B1021.2
F9 FT  B1031.2

### Task 7




##### List the total number of successful and failure mission outcomes

In [37]:
import sqlite3

# Connect to the 'my_data1.db' SQLite database
connection = sqlite3.connect('my_data1.db')

# Create a cursor object
cursor = connection.cursor()

# Execute the SQL query to count the number of successful and failure mission outcomes
cursor.execute("SELECT [Mission_Outcome], COUNT(*) FROM SPACEXTABLE WHERE [Mission_Outcome] LIKE 'Success%' OR [Mission_Outcome] LIKE 'Failure%' GROUP BY [Mission_Outcome]")

# Fetch and print the results
results = cursor.fetchall()
for outcome, count in results:
    print(f"{outcome}: {count} missions")

# Close the database connection
connection.close()

Failure (in flight): 1 missions
Success: 98 missions
Success : 1 missions
Success (payload status unclear): 1 missions

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [38]:
import sqlite3

# Connect to the 'my_data1.db' SQLite database
connection = sqlite3.connect('my_data1.db')

# Create a cursor object
cursor = connection.cursor()

# Execute the SQL query to find the booster_versions with the maximum payload mass
cursor.execute("""
    SELECT [Booster_Version]
    FROM SPACEXTABLE
    WHERE [PAYLOAD_MASS__KG_] = (SELECT MAX([PAYLOAD_MASS__KG_]) FROM SPACEXTABLE)
""")

# Fetch and print the results
results = cursor.fetchall()
for row in results:
    print("Booster Version:", row[0])

# Close the database connection
connection.close()

Booster Version: F9 B5 B1048.4
Booster Version: F9 B5 B1049.4
Booster Version: F9 B5 B1051.3
Booster Version: F9 B5 B1056.4
Booster Version: F9 B5 B1048.5
Booster Version: F9 B5 B1051.4
Booster Version: F9 B5 B1049.5
Booster Version: F9 B5 B1060.2
Booster Version: F9 B5 B1058.3
Booster Version: F9 B5 B1051.6
Booster Version: F9 B5 B1060.3
Booster Version: F9 B5 B1049.7

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 4, 2) as month to get the months and substr(Date,7,4)='2015' for year.**

In [31]:
import sqlite3

# Connect to the 'my_data1.db' SQLite database
connection = sqlite3.connect('my_data1.db')

# Create a cursor object
cursor = connection.cursor()

# Execute the SQL query to retrieve the desired records
cursor.execute("""
    SELECT strftime('%Y-%m', Date) AS Month,
           [Landing_Outcome] AS LandingOutcome,
           [Booster_Version] AS BoosterVersion,
           [Launch_Site] AS LaunchSite
    FROM SPACEXTABLE
    WHERE strftime('%Y', Date) = '2015'
          AND [Landing_Outcome] LIKE 'Failure (drone ship)%'
""")

# Fetch and print the results
results = cursor.fetchall()
for row in results:
    print("Month:", row[0])
    print("Landing Outcome:", row[1])
    print("Booster Version:", row[2])
    print("Launch Site:", row[3])
    print("\n")

# Close the database connection
connection.close()

Month: 2015-10
Landing Outcome: Failure (drone ship)
Booster Version: F9 v1.1 B1012
Launch Site: CCAFS LC-40


Month: 2015-04
Landing Outcome: Failure (drone ship)
Booster Version: F9 v1.1 B1015
Launch Site: CCAFS LC-40

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [34]:
import sqlite3

# Connect to the 'my_data1.db' SQLite database
connection = sqlite3.connect('my_data1.db')

# Create a cursor object
cursor = connection.cursor()

# Execute the SQL query to rank the count of landing outcomes
cursor.execute("""
    SELECT [Mission_Outcome], COUNT(*) AS OutcomeCount
    FROM SPACEXTABLE
    WHERE Date BETWEEN '2010-06-04' AND '2017-03-20'
    GROUP BY [Mission_Outcome]
    ORDER BY OutcomeCount DESC
""")

# Fetch and print the results
results = cursor.fetchall()
for row in results:
    print("Landing Outcome:", row[0])
    print("Count:", row[1])
    print("\n")

# Close the database connection
connection.close()

Landing Outcome: Success
Count: 31


Landing Outcome: Failure (in flight)
Count: 1

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>